@model PagedList.IPagedList<OnTapKT2ASP.Models.Sanpham>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <div align="right">
        <p>
            Tìm mặt hàng: @Html.TextBox("search", ViewBag.Current as string)
            <input type="submit" value="Search" />
        </p>
    </div>
}
<table class="table">
    <tr>
        <th>
            Tên danh mục
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Ảnh bìa
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Giá tiền
        </th>
        <th>
            Số lượng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Danhmuc.TenDanhmuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenvd)
            </td>
            <td>
                <img src="~/Content/Images/@item.TenAnh" width="150" height="150" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giatien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Mavd }) |
                @Html.ActionLink("Details", "Details", new { id = item.Mavd }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Mavd })
            </td>
        </tr>
    }

</table>

<div align="center">
    Trang @(Model.PageCount == 0 ? 0 : @Model.PageNumber)  / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>